/*
* Style css for CQFS instances
* @since 1.0.0
*/
.cqfs button.disabled{
    background-color: #dddddd;
    border-color: #cccccc;
    cursor: not-allowed;
}

/* processing div */
.cqfs .processing.show{
    width: 100%;
    height: 100vh;
    display: flex;
    position: absolute;
    top: 0;
    background: rgba(0,0,0,0.7);
    color: #ffffff;
    justify-content: center;
    align-items: center;
}

/* utilities */
.cqfs .show{
    display: block;
    opacity: 1;
    transition: all linear 0.3s;
}
.cqfs .hide{
    display: none;
    opacity: 0;
    transition: all linear 0.3s;
}

/* cqfs quiz results */
.cqfs-results{
    display: flex;
    flex-direction: column;
}
.cqfs-pass-msg,
.cqfs-fail-msg
{
    order: 1;
}
.cqfs-results--each{
    flex: 1;
    order: 2;
}